/* Google Fonts Einbindung */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
body {
    background-image: url('background.jpg'); /* Pfad zum Bild */
    background-size: cover; /* Bild auf die gesamte Seite ausdehnen */
    background-position: center; /* Bild zentrieren */
    background-repeat: no-repeat; /* Verhindert Wiederholung des Bildes */
    display: flex; /* Aktiviert Flexbox */
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    }
/* Header */
h1 {    
    text-align: center; /* Header zentrieren */
    font-size: 2rem;
    font-family: 'ozuka-mincho-pr6n', serif; /* Verwendung der Schriftart */
    color:  #1b3247; /* Farbe für Überschriften */
}
p {
    text-align: center; /* Zentriert den Text innerhalb der Absätze */
    hyphens: auto;
    margin: 0 auto; /* Zentriert den Absatzblock (wenn max-width definiert) */
    max-width: 800px; /* Begrenzte Breite für bessere Lesbarkeit */
    font-size: 1.5rem;
    font-family: 'ozuka-mincho-pr6n', serif; /* Verwendung der Schriftart */
    padding: 10px;
}
@media (max-width: 1350px) {
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
}
.container {
    text-align: center;
    justify-content: center; /* Zentriert das Bild horizontal */
    align-items: center; /* Zentriert das Bild vertikal, falls der Container eine bestimmte Höhe hat */
    height: 100%; /* Höhe des Containers, wenn notwendig */
    padding:0px 30px;
    background-color: #fff; /* Weißer Hintergrund */
    border-radius: 10px;
    margin: 5px;
}
.container-img {
    max-width: 100%; /* Sicherstellen, dass das Bild nicht über den Container hinausgeht */
    height: auto;
}