/* Google Fonts Einbindung */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Header-Stile */
header {
    background-color: #21888f; /* Türkis */
    padding: 10px 10px;
    position: sticky;
    border: none; /* Entfernt alle Ränder */
    top: 0;
    z-index: 1000;
    font-family: 'kozuka-mincho-pr6n', serif; /* Verwendung der Schriftart */
    display: flex; /* Flexbox verwenden, um Inhalte nebeneinander anzuordnen */
    justify-content: space-between; /* Platz zwischen Logo und Menü */
    align-items: center; /* Zentriert das Logo und Menü vertikal */
    font-size: 1.5rem;
}

.logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    font-family: 'kozuka-mincho-pr6n', serif; /* Verwendung der Schriftart */
}

/* Navigation-Stile */
nav {
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 0px; /* Abstand zwischen den Menüpunkten */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #1a6d73; /* Etwas dunkleres Türkis */
}

/* Hamburger-Icon für mobile Navigation */
.menu-icon {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/* Mobile Navigation */
@media (max-width: 1300px) {
    .menu-icon {
        display: block;
        margin: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center; /* Zentriert den Text innerhalb des Containers */
        align-items: center; /* Zentriert das Logo und Menü vertikal */
        margin: 10px;
        padding: 10px;
        gap: 20px; /* Abstand zwischen den Menüpunkten */
    }

    #menu-toggle:checked + .menu-icon + nav .nav-links {
        display: flex;
    }

    .nav-links a {
        margin: 0;
        padding: 10px 20px;

    }

    /* Anpassung, damit Logo und Menü untereinander angezeigt werden */
    header {
        display: flex;
        flex-direction: column; /* Ändert das Layout zu einer Spalte auf mobilen Geräten */
        align-items: center; /* Zentriert die Items innerhalb des Headers */
        text-align: center; /* Zentriert den Text innerhalb des Containers */
        align-items: center; /* Zentriert das Logo und Menü vertikal */
    }
}
/* Zentrierte Header */
h1 {
    text-align: center; /* Header zentrieren */
    font-size: 2rem;
    font-family: 'ozuka-mincho-pr6n', serif; /* Verwendung der Schriftart */
    color: #21888f; /* Türkise Farbe für Überschriften */
    padding: 5px 0; /* Fügt etwas Abstand oben und unten hinzu */
}
h2 {
    text-align: center; /* Header zentrieren */
    font-size: 1.75rem;
    padding: 5px;
}
h3 {
    text-align: center; /* Header zentrieren */
    font-size: 1.5rem;
    padding: 5px;
}
/* Zentrierte Absätze */
p {
    text-align: justify; /* Zentriert den Text innerhalb der Absätze */
    margin: 0 auto; /* Zentriert den Absatzblock (wenn max-width definiert) */
    max-width: 1000px; /* Begrenzte Breite für bessere Lesbarkeit */
    font-size: 1.5rem;
    font-family: 'ozuka-mincho-pr6n', serif; /* Verwendung der Schriftart */
    padding: 10px;
}
/* Footer-Stile */
footer {
    padding:50px 0;
    text-align: center; /* Zentriert den Inhalt im Footer */
}
/* Container für das Bild */
.group-image {
    display: flex;
    justify-content: center; /* Zentriert das Bild horizontal */
    align-items: center; /* Zentriert das Bild vertikal, falls der Container eine bestimmte Höhe hat */
    height: 100%; /* Höhe des Containers, wenn notwendig */
}
/* Stil für das Bild */
.group-image img {
    max-width: 100%; /* Sicherstellen, dass das Bild nicht über den Container hinausgeht */
    height: auto;
}
/* Stil für Textzentrierung in einem Container */
.centered-text {
    text-align: center; /* Zentriert den Text innerhalb des Containers */
}
/* Entfernt Standardabstände und Innenabstände */
html, body {
    margin: 0;
    padding: 0;
}
.map-container {
    display: flex;
    margin: 0 auto; /* Zentriert den Absatzblock (wenn max-width definiert) */
    max-width: 800px; /* Begrenzte Breite für bessere Lesbarkeit */
    padding: 10px 0; /* Fügt etwas Abstand oben und unten hinzu */
}
.gallery-container {
    display: grid; /* Grid-Layout */
    gap: 10px; /* Abstand zwischen den Bildern */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Flexibles Layout mit mindestens 200px pro Spalte */
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto; /* Zentriert die Galerie */
}
.gallery-container img {
    width: 100%;
    height: 200px; /* Feste Höhe für alle Bilder */
    object-fit: cover; /* Schneidet das Bild zu, um es einzupassen */
    border-radius: 8px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für einen coolen Effekt */
}
/* Zentriert die Liste */
ul {
            list-style-position: inside; /* Listensymbole bleiben drinnen */
            padding: 10px;
            text-align: justify; /* Zentriert den Text innerhalb der Absätze */
            margin: 0 auto; /* Zentriert den Absatzblock (wenn max-width definiert) */
            max-width: 1000px; /* Begrenzte Breite für bessere Lesbarkeit */
            font-size: 1.5rem;
            font-family: 'ozuka-mincho-pr6n', serif; /* Verwendung der Schriftart */
        }
li {
            margin-bottom: 5px; /* Fügt etwas Abstand zwischen den Listenelementen hinzu */
        }
